html, body {
  padding: 0;
  margin: 0;
  background: black;
  color: #20C20E;
  font-family: "Open Sans";
}

#header {
  background: #111;
  height: 25px;
  text-align: center;
}

#header a {
  text-decoration: none;
  color: #20C20E;
}

.continent {
  background: #111;
  margin: 50px 20% 50px 20%;
  padding: 30px 2.5% 30px 2.5%;
}

#content {
  background: #111;
  margin: 50px 20% 50px 20%;
  padding: 30px 2.5% 30px 2.5%;
}

#footer {
  background: #111;
  height: 25px;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
}

#titleField {
  width: 500px;
  background: #000;
  color: #20C20E;
  border: 1px solid #aaa;
}

#contentArea {
  background: #000;
  color: #20C20E;
  border: 1px solid #aaa;
}
