:root {
  --bg-color: white;
  --color: #202124;
  --table-accent-color: #cccccc;
  --accent-color: #ff7614;
  --accent-color-light: #ff9950;
  --accent-color-verylight: #ffbe90;
  --accent-color-dark: #c2590f;
}

* {
  margin: 0;
  padding: 0;
  color: var(--color);
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-size: 20px;
  font-family: "Lato", "Slabo";
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

/* Grid configs */
#grid-wrap {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: minmax(55px,12vh) 88vh;
  height: 100vh;
}

#header {
  grid-area: 1 / 1 / 2 / 3;
  min-height: 55px;
}

#sidebar {
  grid-area: 2 / 1 / 3 / 2;
}

#content {
  grid-area: 2 / 2 / 3 / 3;
  overflow-x: hidden;
}

/* Default looks */
/* Reset shitty default browser styles*/
a {
  text-decoration: none;
  color: var(--accent-color);
  cursor: pointer;
  outline: none;
}

input {
  border: none;
}

input[type='text'], input[type='password'] {
  background-color: var(--bg-color);
  border: none;
  border-bottom: 2px solid #ababab;
  border-radius: 0;
  font-size: 80%;
  outline: none;
  padding: 5px 7px;
}

textarea {
  background-color: var(--bg-color);
  border: 2px solid #ababab;
  border-radius: 3px;
  padding: 7px 9px;
  font-size: 80%;
  outline: none;
}

input:focus {
  border-bottom: 2px solid var(--accent-color);
}

textarea:focus  {
  border: 2px solid var(--accent-color);
}

input:invalid, textarea:invalid {
  box-shadow: none;
}

button {
  cursor: pointer;
  border: none;
}

input[type='submit'] {
  cursor: pointer;
}

select {
  background-color: var(--bg-color);
}

/* Default buttons */
.primary-btn {
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
}

.secondary-btn {
  background-color: var(--bg-color);
  color: var(--accent-color);
  font-weight: bold;
  border: 2px solid var(--accent-color);
  padding: 8px 13px;
  border-radius: 4px;
}

.floating-action-btn {
  position: fixed;
  right: 3vw;
  bottom: 6vh;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--bg-color);
  box-shadow: #666666a7 0px 3px 6px 0px;
}

.floating-action-btn:hover {
  box-shadow: #666666aa 0px 4px 9px 0px;
  transform: translateY(-3px);
}

.floating-action-btn svg {
  fill: var(--bg-color);
  height: 50%;
}

.floating-action-btn svg[rotate='true'] {
  transform: scale(1, -1);
}

/* Custom CSS Switch */

.switch {
    position: relative;
    width: 55px;
    margin: 5px;
    display: inline-block;
}

.switch-checkbox {
    display: none;
}

.switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 20px;
    padding: 0;
    line-height: 20px;
    border: 0px solid #FFFFFF;
    border-radius: 30px;
    background-color: #9E9E9E;
}

.switch-label:before {
    content: "";
    display: block;
    width: 30px;
    margin: -5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 31px;
    border-radius: 30px;
    box-shadow: 0 6px 12px 0px #757575;
    transition: all 0.2s ease-in;
}

.switch-checkbox:checked + .switch-label {
    background-color: var(--accent-color-light);
}

.switch-checkbox:checked + .switch-label, .switch-checkbox:checked + .switch-label:before {
   border-color: var(--accent-color);
}

.switch-checkbox:checked + .switch-label .switch-inner {
    margin-left: 0;
}

.switch-checkbox:checked + .switch-label:before {
    right: 0px;
    background-color: var(--accent-color);
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

/* Popup CSS */

.overlay {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}

.overlay:target { /* Fires when it is being targeted through URL#<overlayID> */
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  min-width: 300px;
  min-height: 300px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .popup-content {
  max-height: 30%;
  overflow: auto;
}

/* Transforms */
* {
  transition: all 200ms linear;
}

/* Header CSS */

#header, #header * {
  z-index: 2;
}

#header {
  background-color: var(--bg-color);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px 0px, rgb(218, 220, 224) 0px -1px 0px 0px inset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}

#head-logo {
  max-height: 50px;
}

#btn-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#btn-holder > * {
  margin-left: 50px;
}

#header #profile {
  height: 40px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}

#mask {
  height: 20px;
  cursor: pointer;
}

/* Sidebar CSS */
#sidebar {
  display: grid;
  grid-auto-rows: auto;
}

.sidebar-elem {
  text-transform: uppercase;
  box-shadow:  #ababab72 6px 0px 4px 0px, rgb(218, 220, 224) 0px -1px 0px 0px inset;
  background-color: var(--bg-color);
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  font-size: 16px;
  letter-spacing: .4px;
  font-weight: 300;
}

.sidebar-elem:hover {
  background-color: var(--accent-color-light);
}

.sidebar-elem[status='active'] {
  box-shadow: none;
  background-color: var(--accent-color);
}

/* Markdown CSS */

.md {

}

.md p {
    margin-bottom: 10px;
}

.md table {
    border-collapse: collapse;
}

.md td, th {
    padding: 2px;
}

.md th {
    background: var(--accent-color);
}

.md tr:nth-child(even) {
    background: var(--table-accent-color);
}

/* Mobile */

/* Navbar CSS */

#navbar {
  width: 100%;
  height: 7vh;
  min-height: 40px;
  position: fixed;
  bottom: 0;
  padding: 0;
  z-index: 1;
  background: var(--bg-color);
  box-shadow: rgba(0, 0, 0, 0.12) 0px -2px 6px 0px, rgb(218, 220, 224) 0px 1px 0px 0px inset;
  overflow: hidden;
}

#navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#navbar a:hover {
  background: var(--accent-color-light);
}

#navbar .navbar-elem[status='active'] {
  background: var(--accent-color);
}

#navbar a svg {
  fill: var(--color);
  width: 30px;
  height: 30px;
}

#navbar {
  display: none;
}

@media (max-width: 900px) {
 #grid-wrap {
    grid-template-columns: auto;
    grid-template-rows: minmax(55px, 10vh) auto minmax(40px, 7vh);
  }

  #header {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 10vh;
    min-height: 55px;
    top: 0;
    grid-area: 1 / 1 / 1 / 1;
  }

  #sidebar, #sidebar * {
    display: none;
  }

  #navbar {
    grid-area: 3 / 1 / 3 / 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #content {
    grid-area: 2 / 1 / 2 / 1;
  }

  #head-logo {
    max-height: 40px;
  }

  .primary-btn {
    padding: 6px 11px;
  }
  .secondary-btn {
    padding: 4px 9px;
  }

  #btn-holder > * {
    margin-left: 10px;
  }

  .floating-action-btn {
    right: 2vw;
    bottom: 9vh;
    width: 50px;
    height: 50px;
  }
}
