:root {
  --bg-color: white;
  --color: #202124;
  --accent-color: #ff7614;
  --accent-color-light: #ff9950;
  --accent-color-dark: #c2590f;
}

* {
  margin: 0;
  padding: 0;
  color: var(--color);
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-size: 20px;
  font-family: "Lato", "Slabo";
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

/* Grid configs */
#grid-wrap {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 12vh 88vh;
  height: 100vh;
}

#header {
  grid-area: 1 / 1 / 2 / 3;
}

#sidebar {
  grid-area: 2 / 1 / 3 / 2;
}

#content {
  grid-area: 2 / 2 / 3 / 3;
  overflow-x: hidden;
}

@media (max-width: 900px) {
 #grid-wrap {
    grid-template-columns: auto;
    grid-template-rows: 10vh auto;
  }

  #header {
    grid-area: 1 / 1 / 2 / 2;
  }

  #sidebar, #sidebar * {
    display: none;
  }

  #content {
    grid-area: 2 / 1 / 3 / 2;
  }
}

/* Default looks */
/* Reset shitty default browser styles*/
a {
  text-decoration: none;
  color: var(--accent-color);
  cursor: pointer;
  outline: none;
}

input {
  border: none;
  background-color: var(--bg-color);
  border: none;
  border-bottom: 2px solid #ababab;
  border-radius: 0;
  font-size: 80%;
  outline: none;
  padding: 5px 7px;
}

textarea {
  background-color: var(--bg-color);
  border: 2px solid #ababab;
  border-radius: 3px;
  padding: 7px 9px;
  font-size: 80%;
  outline: none;
}

input:focus {
  border-bottom: 2px solid var(--accent-color);
}

textarea:focus  {
  border: 2px solid var(--accent-color);
}

input:invalid, textarea:invalid {
  box-shadow: none;
}

button, input[type='submit'] {
  border: none;
  cursor: pointer;
}

/* Default buttons */
.primary-btn {
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
}

.secondary-btn {
  background-color: var(--bg-color);
  color: var(--accent-color);
  font-weight: bold;
  border: 2px solid var(--accent-color);
  padding: 8px 13px;
  border-radius: 4px;
}

.floating-action-btn {
  position: fixed;
  right: 6vh;;
  bottom: 6vh;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--bg-color);
  box-shadow: #666666a7 0px 3px 6px 0px;
}

.floating-action-btn:hover {
  box-shadow: #666666aa 0px 4px 9px 0px;
  transform: translateY(-3px);
}

.floating-action-btn svg {
  fill: var(--bg-color);
  height: 50%;
}

.floating-action-btn svg[rotate='true'] {
  transform: scale(1, -1);
}

/* Transforms */
* {
  transition: all 200ms linear;
}

/* Header CSS */
#header {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px 0px, rgb(218, 220, 224) 0px -1px 0px 0px inset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}

#head-logo {
  max-height: 50px;
}

#btn-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#btn-holder > * {
  margin-left: 50px;
}

@media (max-width: 600px) {
  #btn-holder {
    display: none;
  }
}

#mask {
  height: 20px;
  cursor: pointer;
}

/* Sidebar CSS */
#sidebar {
  display: grid;
  grid-auto-rows: auto;
}

.sidebar-elem {
  text-transform: uppercase;
  box-shadow:  #ababab72 6px 0px 4px 0px, rgb(218, 220, 224) 0px -1px 0px 0px inset;
  background-color: var(--bg-color);
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  font-size: 16px;
  letter-spacing: .4px;
  font-weight: 300;
}

.sidebar-elem[status='active'] {
  box-shadow: none;
  background-color: initial;
}

.sidebar-elem[status='active']:hover {
  background-color: initial;
  cursor: initial;
}

.sidebar-elem:hover {
  background-color: var(--accent-color);
}
