:root {
  --title-color: rgba(0, 0, 0, 0.6);
}

#jumbotron {
  width: 70%;
  min-height: 24vh;
  margin: 0 auto;
  padding: 6vh 4vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 6vh;
  background: linear-gradient(to right, var(--accent-color-light), var(--accent-color-verylight));
  border-radius: 5px;
}

#jumbotron-btn {
  border: none;
  box-shadow: var(--accent-color-dark) 0px 3px 0px 0px,
  #00000041 0px 3px 6px;
}

#jumbotron-btn:hover {
  border: none;
  box-shadow: var(--accent-color-dark) 0px 4px 0px 0px,
  #00000071 0px 3px 6px;
}

#jumbotron-btn:active{
  box-shadow: none;
  transform: translateY(4px);
}

hr {
  width: 80%;
  margin: 0 auto;
}

.post {
  width: 70%;
  min-height: 12vh;
  margin: 4vh auto;
  padding: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post:hover {
  background-color: var(--accent-color-light);
  border-radius: 4px;
}

.post:hover .username {
  color: var(--bg-color);
}

.thumbnail {
  height: 10vh;
  border-radius: 4px;
  margin-right: 25px;
}

.post-without-tn{
  flex: 1;
  height: 80%;
  position: relative;
}

.post-info {
  display: block;
  justify-content: space-between;
  margin-bottom: 1vh;
  letter-spacing: 1px;
  font-size: .9em;
}

.title {
  text-transform: uppercase;
  color: var(--title-color);
  font-size: 0.8rem;
  max-width: 100%;
  letter-spacing: 1.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date-uname {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username{
  margin-right: 12.5px;
  color: var(--accent-color);
  letter-spacing: 1.5px;
}

.post-text {
  overflow: hidden;
  max-height: 8vh;
  display: block;
  font-size: .8em;
  max-width: 40vw;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Mobile */

@media (max-width: 600px) {
  .post {
    width: 96vw;
    margin: 2vh 2vw;
    display: inline-block;
    align-items: baseline;
  }

  .post-info {
    display: block;
  }

  .post-text {
    max-height: 22vh;
    max-width: 100%;
  }

  .date {
    font-size: 0.9em;
  }

  .thumbnail {
    height: 6vh;
  }

  #jumbotron {
    display: table;
    text-align: center;
  }

  #jumbotron-btn {
    margin-top: 10px;
  }
}
