#title {
  text-transform: uppercase;
  color: var(--color);
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#auth {
  height: 60%;
  width: 25%;
  min-width: 400px;
  min-height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border: 2px solid var(--accent-color-verylight);
  border-radius: 3px;
  padding: 45px 60px;
}

/* Mobile */

@media (max-width: 900px) {
  #auth {
    min-width: 300px;
    height: 90%;
    padding: 25px 30px;
  }
}
