#content {
  background-color: rgba(var(--accent-color), 0.4);
}

#newpost{
  width: 100%;
  height: 100%;
  padding: 6vh;
}

#post-sheet {
  height: 80%;
  width: calc(100% - 12vh);
  padding: 6vh;
  text-align: center;
  background-color: var(--bg-color);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 6px 3px, rgb(218, 220, 224) 1px 0px 4px 0px inset;
}

#newpost * {
  width: 100%;
}


#titlecharswrapper {
  text-align: right;
}

#contentcharswrapper {
  text-align: right;
}

#postwrapper {
  width: 70%;
  margin: 0 auto;
  padding: 6vh 0;
}

#titleField {
  border: none;
  border-bottom: 2px solid #ababab;
  border-radius: 0;
  width: 70%;
}

#contentArea {
  width: 70%;
  max-width: 100%;
  resize: vertical;
}

#btnpost {
  width: initial;
}
