#content {
  background-color: var(--accent-color-light);
  padding-top: 6vh;
}

#newpost{
  margin: 0 auto;
  opacity: 1;
  width: 700px;
  height: 100%;
  position: relative;
}

#post-sheet {
  height: 1000px;
  width: 100%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 6px 3px, rgb(218, 220, 224) 1px 0px 2px 0px inset;
  background-color: var(--bg-color);
  padding: 6vh;
  margin-bottom: 6vh;
  display: flex;
  flex-direction: column;
}

#title-wrapper {
  display: flex;
  align-items: center;
}

#titleField {
  flex: 1;
}

#titlecharswrapper {
  padding-left: 1vh;
}

#content-wrapper{
  flex: 1;
  margin-top: 6vh;
  display: flex;
}

#contentArea{
  height: 100%;
  border: none;
  resize: none;
  flex: 1;
}

.char-counter {
  color: #ababab;
}

#btnpost {
  font-size: 1.5rem;
}