#content {
  padding: 10vh 10vw;
}

#post {
  width: 100%;
  padding: 2vh;
  border-right: 2px solid var(--accent-color-light);
  border-left: 2px solid var(--accent-color-light);
  margin-bottom: 10vh;
}

#title {
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-bottom: 3vh;
  word-break: break-all;
}

#post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .9em;
  margin-bottom: 6vh;
}


#date {
  display: flex;
  align-items: center;
}

#post span {
  color: grey;
  margin-right: 1.5vh;
}

#date span {
  margin-left: 1.5vh;
}

#post-text {
  margin-top: 6vh;
  color: black;
  line-height: 29px;
}

/* Mobile */

@media (max-width: 900px) {
  #content {
    padding: 5vh 5vw;
  }

  #title {
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin-bottom: 1vh;
  }
}
