#content {
  display: grid;
  grid-template-rows: 3rem auto;
  grid-template-columns: 30% 70%;
}

#status-sheet {
  grid-area: 2 / 1 / 2 / 1;
  padding: 0 10%;
}

#status-sheet #status-text {
  background: var(--table-accent-color);
  color: var(--color);
  border-radius: 4px;
  padding: 5px;
  min-height: 50%;
}

#status-title {
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

#userlist-sheet {
  grid-area: 2 / 2 / 2 / 2;
}


#userlist-title {
  grid-area: 1 / 1 / 1 / 3;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

table   {
  border-collapse: collapse;
  border-style: hidden;
  text-align: center;
  margin-bottom: 10px;
}

table td, table th {
  padding: 4px;
}

table th {
  background: var(--accent-color);
}

table tr:nth-child(odd) {
  background: var(--table-accent-color);
}

.userlist-manage {
  display: none;
}

@media (max-width: 900px) {
  #content {
    grid-template-rows: 3rem auto auto;
    grid-template-columns: auto;
    font-size: 0.8em;
  }

  #userlist-title {
    grid-area: 1 / 1 / 1 / 1;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  #userlist-sheet {
    grid-area: 2 / 1 / 2 / 1;
  }

  #status-sheet {
    grid-area: 3 / 1 / 3 / 1;
    max-width: 100%;
    min-height: 120px;
    padding: 0;
  }

  #status-sheet #status-text {
    min-height: 100px;
  }

  table {
    width: 100%;
  }

  table td, table th {
    padding: 2px 0;
  }

  .userlist-role {
    display: none;
  }

  .userlist-manage {
    display: table-cell;
  }

  .btn-wrapper {
    width: 100%;
    text-align: center;
  }

}
